/* #region Theme Dark */
:root[jz-data-theme="dark"] {

  /* Colores globales */
  --jz-bg-color: #252525;
  --jz-default-color: #ffffff;
  --jz-heading-color: #f1f3f5;
  --jz-accent-color: #4dabf7;
  --jz-surface-color: #181c22;
  --jz-contrast-color: #000000;

  /* Colores del menú de navegación */
  --jz-nav-color: #45505b;  
  --jz-nav-hover-color: #0563bb; 
  --jz-nav-mobile-background-color: #ffffff; 
  --jz-nav-dropdown-background-color: #ffffff;
  --jz-nav-dropdown-color: #212529; 
  --jz-nav-dropdown-hover-color: #0563bb;
}
/* #endregion Theme Dark */
