/* #region Theme Dark */
:root[jz-data-theme="dark"] {

  /* Colores globales */
  --jz-bg-color: #252525;
  --jz-default-color: #ffffff;
  --jz-heading-color: #f1f3f5;
  --jz-accent-color: #4dabf7;
  --jz-surface-color: #181c22;
  --jz-contrast-color: #000000;

  /* Colores del menú de navegación */
  --jz-nav-color: #353535;
  --jz-nav-background-color: rgba(225,225,225,0.95);
  --jz-nav-text-active-color: #252525;
  --jz-nav-hover-color: #4dabf7;
  --jz-nav-active-color: #0563bb;
  --jz-nav-contrast-color: #ffffff;
}
/* #endregion Theme Dark */
