@import url('./color-scheme.css');


:root[jz-data-theme="light"] { 

  /* Colores globales */
  --jz-bg-color: var(--platinum);
  --jz-default-color: var(--graphite);
  --jz-heading-color: var(--charcoal-blue);
  --jz-primary-color: var(--ocean-deep);
  --jz-secondary-color: var(--baltic-blue);
  --jz-tertiary-color: var(--blue-bell);
}